.line {
  width: 100%;
  height: 1px;
  background-color: #808080;
}

.td-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}